#root{
    border: 1px solid black;
    background-color: lightblue;
    border-radius: 20px;
    padding: 2px;
    display: flex;
    flex-wrap: wrap;

}

.btn{
    background-color: blue;
    color: white;
    margin: 4px;
    width: 20px;
    padding: 10px;
    border-radius: 6px;

}