body{
    margin: 0px;
}
div{
    border: 1px solid black;
}

#outer{
    position: relative;
    width: 200px;
    height: 200px;
}

#inner{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.active{
    background-color: lightblue;
}