/*
*{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}
    */
a{
    text-decoration: none; 
    background-color: lightblue;
    padding: 10px;
    display: inline-block;
    box-shadow: 5px 5px grey;
    border-radius: 6px;
    
}
li{
    display: inline; 
    margin-right: 10px;
    
}
header{
    border: 1px solid black; 
    background-color: lightsalmon;
} 

ul{
list-style-type: none; 
text-decoration: none;
}

img{
display: block;
background-color: rgba(50,60, 100, 0.8);
}

h1{
text-align: center;
}

p{
font-size: 20px; 
font-style: italic;
}

.important{
    font-weight: bold;
    color: red;
}

.titre{
    font-size: 40px;
    text-decoration: underline;
}
.btn{
    padding: 15px;
    background-color: lightgreen;
    border: 2px solid green;
    border-radius: 8px;
}
#malist{
    background-color: lightgrey;
    padding: 20px;
    border-radius: 10px;
}

div p{
    font-family: Arial, Helvetica, sans-serif;
}

.detail{
    margin-top: 20px;
    border: 3px dashed orange;
    padding: 20px;
    background-color: beige;
    border-radius: 15px;
}

.detail > p{
    border: 2px solid purple;
    padding: 15px;
    background-color: lavender;
    border-radius: 12px;
}

div+p{
    font-size: 18px;
    font-weight: bold;
    color: blue;
    text-align: center;
}
a:visited{
    background-color: lightgrey;
    color: black;
}
a:hover{
    background-color: yellow;
    color: red;
}